@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #07080b;
}

html {
  overflow-x: hidden; /* This one is important to avoid the propagation */
}

@font-face {
  font-family: atyp;
  src: url(../../public/AtypRegularVariable.ttf);
}

.atyp {
  font-family: atyp;
}

.barber {
  background-image: url(../assets/barber.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio_main {
  background-image: url(../assets/portfolio_main.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.gleam {
  background-image: url(../assets/gleam.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.magic {
  background-image: url(../assets/magic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.bannerShadowTop {
  background: linear-gradient(
    180deg,
    rgb(16, 16, 16) 0%,
    rgba(4, 77, 43, 0) 50%
  );
}

.bannerShadowBot {
  background: linear-gradient(
    360deg,
    rgb(16, 16, 16) 0%,
    rgba(4, 77, 43, 0) 20%
  );
}

.divShadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.light {
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 0),
    rgb(255, 255, 255) 50%,
    rgba(17, 17, 17, 0)
  );
  flex: none;
  height: 0.8px;
}

.light2 {
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 0),
    rgb(255, 255, 255) 50%,
    rgba(17, 17, 17, 0)
  );
  flex: none;
  height: 0.8px;
}

.fixedCenterY {
  top: 50%;
  transform: translateY(-50%);
}

.fixedCenterX {
  left: 50%;
  transform: translateX(-50%);
}

.glass {
  background: rgba(0, 0, 0, 0.519);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
}

.bgText {
  background: -webkit-linear-gradient(#50cc7f, #f5d100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  --glow-color: rgb(123, 217, 0);
  --glow-spread-color: rgba(64, 191, 0, 0.781);
  --enhanced-glow-color: rgb(39, 231, 0);
  --btn-color: rgb(0, 100, 15);
  border: 0.15em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  background-color: var(--btn-color);
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  @apply rounded-full;
}

.button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.neon {
  color: rgb(123, 217, 0);
  text-shadow: 0 0 3vw rgb(123, 217, 0);
}

.radial {
  background: radial-gradient(ellipse at bottom, #17222e 0%, #07080b 20vw);
}

.radial2 {
  background: radial-gradient(ellipse at bottom, #17222e 0%, #07080b 50vw);
}

.radial3 {
  background: radial-gradient(ellipse at top, #17222e 0%, #07080b 50vw);
}

.active {
  color: rgb(123, 217, 0);
  text-shadow: 0 0 10px rgb(123, 217, 0);
}

.inactive {
  color: #696969;
  transition: all 0.15s ease-out;
  cursor: pointer;
}

.inactive:hover {
  color: rgb(123, 217, 0);
  text-shadow: 0 0 10px rgb(123, 217, 0);
}

.menuBg {
  background: #101112;

  border: 1px solid rgba(255, 255, 255, 0.1);
}

.menuBg2 {
  background: linear-gradient(rgb(0, 0, 0), rgb(4, 4, 4));
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.borderOption {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.aboutBg {
  background: linear-gradient(
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footerBg {
  background: linear-gradient(
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0)
  );
}

.animationBorder {
  animation-name: borderA;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 10s;
}

@keyframes borderA {
  from {
    width: 100%;
  }
  to {
    width: 15%;
  }
}

.neon2 {
  background: linear-gradient(45deg, #ff0055 0%, #f94cff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub {
  color: rgba(255, 255, 255, 0.8);
}

.borderMamalon {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dot3 {
  border: 2px dotted rgba(255, 255, 255, 0.086);
  border-radius: 50%;
  animation-name: pulse2;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot2 {
  border: 2px dotted rgba(255, 255, 255, 0.151);
  border-radius: 50%;
  animation-name: pulse2;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot1 {
  border: 2px dotted rgba(255, 255, 255, 0.292);
  border-radius: 50%;
  animation-name: pulse2;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
  }
}

.fixedCenterXnY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button2 {
  --glow-color: rgb(123, 217, 0);
  --glow-spread-color: rgba(64, 191, 0, 0.781);
  --enhanced-glow-color: rgb(39, 231, 0);
  --btn-color: rgb(0, 100, 15);
  border: 0.15em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  background-color: var(--btn-color);
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  @apply rounded-full;
}

.button2:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.button2:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.button3 {
  --glow-color: rgb(123, 217, 0);
  --glow-spread-color: rgba(64, 191, 0, 0.781);
  --enhanced-glow-color: rgb(39, 231, 0);
  --btn-color: rgb(0, 100, 15);

  color: var(--glow-color);
  background-color: var(--btn-color);
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.arrow-scroll {
  position: relative;
  height: 4em;
}

.arrow {
  border: solid rgb(123, 217, 0);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.arrow:nth-child(2) {
  animation: arrow1 1.5s ease-in-out infinite;
}

.arrow:nth-child(3) {
  animation: arrow2 1.5s ease-in-out infinite;
}

@keyframes scroll {
  0% {
    bottom: 80;
    opacity: 1;
  }
  100% {
    bottom: 20;
    opacity: 0;
  }
}

@keyframes arrow1 {
  100% {
    opacity: 0;
    top: 100%;
  }
}

@keyframes arrow2 {
  100% {
    opacity: 0;
    top: 50%;
  }
}

.transparentShadow {
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.button4 {
  background-color: rgb(123, 217, 0);
  padding: 0.5em 1.5em;
  color: #07080b;
  outline: none;
  @apply rounded-full;
}

.button5 {
  --glow-color: rgb(123, 217, 0);

  --btn-color: rgb(0, 100, 15);
  border: 0.15em solid var(--glow-color);
  color: var(--glow-color);

  outline: none;

  transition: all 0.3s;
  cursor: pointer;
  @apply rounded-full;
}

.button5:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
}

.button5:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.button6 {
  --glow-color: rgb(123, 217, 0);
  --glow-spread-color: rgba(64, 191, 0, 0.781);
  --enhanced-glow-color: rgb(39, 231, 0);
  --btn-color: rgb(0, 100, 15);

  outline: none;
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}
